{% extends 'base.html' %}

{% block title %}Building Permit Application{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'building_permit/building_permit.css' %}">

    <!-- Main content -->
    <div class="apply-container">
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
