.content {
    padding: 0;
}

.apply-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width */
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    box-sizing: border-box;
    background-image: url("Tree.png");
    background-size: cover;
}

/* Image container styling */
.image-container {
    width: 100%;
    max-height: 30%; /* Adjust as needed */
    overflow: hidden;
    flex-shrink: 0; /* Prevent shrinking */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form container styling */
.form-container {
    width: 80%; /* Full width */
    max-height: 70%; /* Adjust to fit with image */
    overflow: auto; /* Allow scrolling if content exceeds container height */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adjust spacing */
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

form p {
    margin-bottom: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form select,
form button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Additional styles for readability */
form input::placeholder,
form select::placeholder,
form button::placeholder {
    color: #666;
}

form input:focus,
form select:focus,
form button:focus {
    border-color: #4CAF50;
    outline: none;
}

.trees-required {
    font-weight: bold;
    color: white; /* Adjust color as needed */
    font-size: 72px; /* Adjust font size as needed */
    /* Add any other styling properties */
}
