.content {
    padding: 0
}

.center-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    /*margin-top: 20px; !* Adjust margin as needed *!*/
}

.result-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Full viewport height */
    width: 100vw;
    background-image: url("R.jpeg");
    background-size: cover;
    background-position: center bottom;
    overflow-x: hidden;
    overflow-y: hidden;
    /*background-color: rgba(255,255,255, 0.5);*/
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50vw;
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.result-heading {
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
    text-align: center;
    font-weight: 700;
    color: #d8f8d8;
    padding-top: 20px;
}

.result-heading-2{
    font-weight: 600;
}

.trees-required {
    font-weight: normal;
    color: #1d5b1f;
    font-size: 72px;
}

.redirection {
    font-size: medium;
    font-weight: 500;
    color: #FFFFFF;
}