body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
}

div{
    justify-items: center;
}
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.signup-section {
    background-color: #4caf50;
    color: white;
    padding: 40px;
    width: 60%;
    height: 800px;
    justify-content: center;
    position: relative;
    border-bottom-right-radius: 1000px;
}

.signup-section img {
    position: absolute;
    bottom: 60px;
    left: 40px;
    width: 300px;
    height: auto;
}

.signup-btn {
    background-color: white;
    color: #4caf50;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

.login-section {
    padding: 10%;
    width: 50%;
    height: 800px;
}



.login-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;

}

.social-icons {
    display: flex;
    justify-content: space-around;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    /*padding: 1px 50px;*/
}

.social-icons a {
    text-decoration: none;
    color: #4caf50;
    font-size: 24px;
    border: 3px solid grey;
    padding: 10px 20px;
    border-radius: 80%;

}
.form-container input[type="text"],
.form-container input[type="password"]{
    margin-top: 20px;
    padding: 5px;
    border: none;
    width: 100%;
    background-color: #ededed;
    border-radius: 15px;
}

.form-container input[type="text"]::placeholder,
.form-container input[type="password"]::placeholder {
    color: grey;
    font-size: 16px;
    padding: 2%;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container button {
    /*margin-left: 50px;*/
}

.alert{
    font-size: 10px;
    max-width: 100%;
    padding-left: 1px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.bottom{
    padding:10px;
}

.padding{
    padding-left:20%;
    padding-right:20%;
}
