{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'register/password_reset.css' %}">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Password reset complete</h3>
                    </div>
                    <div class="card-body">
                        <p><i>Your password has been set. You may now login again.</i></p>
                        <a href="{% url 'login' %}">Login</a>
                        {#<a href="{% url 'adminlogin' %}">Admin Login</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
