.card-header{
    color:white;
    background-color: #4cae4c;
}

.container {
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
    height: 60vh;
}

body {
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
}