{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'register/password_reset.css' %}">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Password Reset</h3>
                    </div>
                    <div class="card-body">
                        <p><i>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one.</i></p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
