{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'register/password_reset.css' %}">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Password reset complete</h3>
                    </div>
                    <div class="card-body">
                        <p>We have emailed you the instructions for the password reset. if an account exists with the email younentered, you'll receive it shortly</p>
                        <p>If you don't receive an email, make sure you entered the email you registered with, or check your spam folder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
