
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'admin/admin_login.css' %}">
<style>
body {
    background: url("{% static 'admin/admintree.png' %}") no-repeat center center fixed;
    background-size: cover;
}


</style>
<div class="top-bar">
    <img src="{% static 'admin/adminlogo.png' %}" alt="Logo">
</div>
<div class="login-container">
    <h2>Admin Login</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="id_username" name="username" placeholder=" " />
            <label for="id_username">Username</label>
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="password" id="id_password" name="password" placeholder=" " />
            <label for="id_password">Password</label>
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Login</button>
    </form>
</div>

    <div class="footer-bottom">
    <p>© 2024 Green City is part of University of Windsor Project</p>
    <p>Please review our updated Terms of Service</p>
</div>
{% endblock %}







