{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}


{% block content %}
     <link rel="stylesheet" href="{% static 'about/about.css' %}">
    <div class="about-us-section">
        <h2>About Us</h2>
        <h3>Together we can save the planet</h3>
        <p>
            Green City has a variety of initiatives including research, education, sensitisation and advocacy around the importance of environmental preservation and tree plantation. We at Green Leaf organize tree plantations projects across several cities. We actively engage in identifying potential areas for plantation, keeping in mind the biodiversity and ecological milieu of the local area. We try ensuring that the local communities reap multifold benefits; besides restoring the green cover, the trees also provide them with fruits, flowers, leaves and more, commonly used in the community life.
        </p>
        <p>
            Our mission is to sensitise and empower people to give back to nature and live in an environment conducive to their health and well-being. Green City inspires citizens to spare just a few hours on weekends and work towards making their cities, and their lives greener. Our long term plans entail taking tree plantation drives to more number of cities and inducting many more tree enthusiasts, particularly corporate teams, to be able to amplify both scale and impact of our efforts.
        </p>
        <p>
            Interested in being a part of our mission? Green City to be  live tomorrow on Facebook and Instagram!!!
        </p>
    </div>
    <div class="seed_link-section">
        <h2>GREEN CITY</h2>
        <h3>Our Official Place For Plants</h3>
        <p>
            Plants are the backbone of all life on Earth and an essential resource for human well-being. They provide us with food, oxygen, and medicine, and play a crucial role in maintaining the balance of our ecosystems. Protecting and conserving plant life is not just an environmental issue but a moral imperative for the survival of our planet. Every plant saved and every tree planted contributes to the fight against climate change, reduces pollution, and supports biodiversity. By nurturing plant life, we ensure a healthier, more sustainable future for ourselves and generations to come.
        </p>
    </div>
{% endblock %}