{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "home/home.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <div class="card-container">
        
        <div class="card1">
            {% include 'home/dashboard/dashboard.html' %}
        </div>
    
        <div class="card2">
            {% include 'home/applications/applications_card.html' %}
        </div>
    
    </div>
    
    <script>
    $(document).ready(function () {
        $('#searchForm').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (data) {
                    $('.card2').html(data);
                }
            });
        });
    });
    </script>
{% endblock %}
