.content {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.additional-form p {
    font-weight: bold;
}

.additional-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.additional-form .submit {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
}

.additional-form .submit:hover {
    background-color: #45a049;
}

form button {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.main-dashboard-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sub-dashboard-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.separator-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
    justify-content: center;
    width: 60%;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #fff;
    border-radius: 15px;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.applications-dashboard {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /*height: 10vh;*/
    /*flex-direction: column;*/
    padding-top: 20px;
    padding-bottom: 70px;
}

.application-count-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*gap: 10px;*/
}

.application-count-quantity {
    color: #FFFFFF;
    font-weight: 500;
    font-size: xx-large;
    height: fit-content;
}

.application-count-quantity h1 {
    margin-bottom: 0;  /* Remove the bottom margin */
    text-align: center;
}

.application-count-subtitle h3 {
    margin-top: 10px;  /* Remove the top margin */
    text-align: center;
}

.application-count-subtitle {
    color: #FFFFFF;
    font-weight: normal;
}

.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card2 .create-new-application-button, .view-all-applications-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px; /* adjust border radius here */
    background-color: green; /* adjust color here */
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 16px;
    margin-right: 16px;
}

.create-new-application-button:hover, .view-all-applications-button:hover {
    background-color: darkgreen; /* adjust hover color here */
    color: white;
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 16px;
}

.search-form {
    width: 95%;
    border-radius: 6px;
    transition: all 0.3s ease;
    height: 30px;
    border-color: darkslategrey;
    font-size: 18px;
    font-weight: normal;
    padding-left: 16px;
}

.search-form:focus {
    outline-color: darkslategrey;
    outline-style: solid;
}

.search-form::placeholder {
    font-size: 1rem;
    font-weight: bold;
}

.card2 label, .card2 h3 {
    color: #ffffff;
}

.card2 h3 {
    margin-left: 16px;
}

.card2 h2 {
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
}

.search-form:not(:focus) {
    border-color: darkslategrey;
}

.card2 {
    position: relative;
}

.search-main-container {
    width: 100%;
    height: 100vh;
    padding-top: 24px;
    margin: 0;
    padding-left: 0;
    background: #1b5e20;
}

.search-form-submit-button {
    width: 10%;
    margin-left: 20px;
    padding: 10px 20px; /* adjust size here */
    border-radius: 15px; /* adjust border radius here */
    background-color: green; /* adjust color here */
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    /*font-size: 16px;*/
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
    font-weight: normal;
    font-size: large;
}

.search-results {
    margin-top: 10px;
    /*margin-left: 16px;*/
    height: 60%; /* Adjustable height */
    width: 100%; /* Adjustable width */
    background-color: rgba(255, 255, 255, 0.7); /* White background with 50% transparency */
    overflow: auto; /* Add a scrollbar if content overflows */
    /*padding: 10px; !* Equal spacing around the elements *!*/
    border-radius: 10px;
    font-weight: bold;
    overflow-x: hidden;
}

.search-results th:first-child, .search-results td:first-child {
    padding-left: 40px;
}

.search-results table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Removes the double borders */
}

.search-results th, .search-results td {
    padding: 10px; /* Equal spacing around the text in each cell */
    text-align: left; /* Left-aligned text */
    border-bottom: 1px solid #ddd; /* Add a bottom border to all table cells */
}

.search-results th {
    /*background-color: #4CAF50; !* Green background *!*/
    color: #0b360c; /* White text */
}

.application-item {
    text-decoration: none;
    color: inherit;
}

.result-item {
    cursor: pointer;
}

.result-container {
    padding: 20px;
    overflow-x: hidden;
    width: 95%;
}

.application-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Adjust as needed */
    background-image: url('house.jpg'); /* Add your background image */
    background-size: cover;
}

.application-h1, .application-h2 {
    text-align: center;
    width: 100%;
}

.application-h1 {
    font-family: Georgia, sans-serif;
    color: #1d5b1f;
    font-weight: 600;
}

.application-details-container-inner {
    background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    backdrop-filter: blur(10px); /* This will give the blur effect */
    border-radius: 10px;
    padding: 20px;
    width: 50%; /* Adjust as needed */
    margin: auto;
}

.column-row-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-left: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* This will center the items vertically */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.cell-label, .cell-data {
    width: 100%; /* This will give each cell equal width */
    /*margin-right: 10px;*/
}

.cell-label {
    font-weight: bold;
    /*width: 100%;*/
}


.no-results {
    font-family: Georgia, 'Segoe UI', system-ui, sans-serif;
    font-weight: 500;
    color: white;
    width: 100%;
    text-align: center;
}

.search-input {
    background-image: url("search.png");
    /*width: 24px;*/
    /*height: auto;*/
    background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    /*background-clip: content-box;*/
    padding-right: 16px;
}

.search-title-h1 {
    font-family: Georgia, "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-size: xxx-large;
}