{% load static %}
<link rel="stylesheet" href="{% static 'home/applications/applications.css' %}">

<h2>Applications</h2>

<div class="main-dashboard-container">
    <div class="sub-dashboard-container">
        <div class="applications-dashboard">
            <div class="application-count-container">
                <div class="application-count-quantity">
                    <h1>{{ applications.submitted }}</h1>
                </div>
                <div class="application-count-subtitle">
                    <h3>Submitted</h3>
                </div>
            </div>
            <div class="application-count-container">
                <div class="application-count-quantity">
                    <h1>{{ applications.approved }}</h1>
                </div>
                <div class="application-count-subtitle">
                    <h3>Approved</h3>
                </div>
            </div>
            <div class="application-count-container">
                <div class="application-count-quantity">
                    <h1>{{ applications.rejected }}</h1>
                </div>
                <div class="application-count-subtitle">
                    <h3>Rejected</h3>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="separator-container">
        <div class="separator"></div>
    </div>
    
    <div class="buttons-container">
        <a href="{% url 'myapp:building_permit_application' %}" class="create-new-application-button">New Application</a>
        <a href="{% url 'myapp:view_all_applications' %}" class="view-all-applications-button">View All Applications</a>
    </div>
</div>


{#{% if permits == 0 %}#}
{#    <a href="" class="-create-new-application-button">Create New Application</a>#}
{##}
{#{% else %}#}
{#    <div class="search-container">#}
{#        <form id="searchForm" method="GET" action="{% url 'myapp:home' %}">#}
{#            {{ form.query }}#}
{#        </form>#}
{#    </div>#}
{#    {% if result_count != 0 %}#}
{#        <div class="search-results">#}
            {#                display utmost 4 applications, and more than that add a view more button#}
{##}
{#            <table>#}
{#                <tr>#}
{#                    <th>Date</th>#}
{#                    <th>Name</th>#}
{#                    <th>Application Reference Number</th>#}
{#                    <th>Status</th>#}
{#                </tr>#}
{#                {% for result in results %}#}
{#                    <tr class="result-item" data-href="{% url 'myapp:application_details' result.id %}">#}
{#                        <td>{{ result.date }}</td>#}
{#                        <td>{{ result.name }}</td>#}
{#                        <td>{{ result.application_number }}</td> {# TODO: This must be replaced with result property application number #}
{#                        <td>{{ result.application_status }}</td> {# TODO: This must be replaced with result property application status #}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#        </div>#}
{#    {% elif message != "" %}#}
{#        <h2 class="no-results"> No Applications Found Please Create A New Application </h2>#}
{#    {% endif %}#}
{##}
{#    <a href="{% url 'myapp:building_permit_application' %}" class="new-application-button">New Application</a>#}
{#{% endif %}#}


