.search-container {
    position:relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.search-form {
    width: 80%;
    border-radius: 6px;
    transition: all 0.3s ease;
    height: 24px;
    margin-left: 16px;
    border-color: darkslategrey;
    font-size: 18px;
    font-weight: normal;
}

.search-form:focus {
    outline-color: darkslategrey;
    outline-style: solid;
}

.search-form::placeholder {
    font-size: 1rem;
    font-weight: bold;
}

.card2 label, .card2 h3 {
    color: #ffffff;
}

.card2 h3 {
    margin-left: 16px;
}


.search-form:not(:focus) {
    border-color: darkslategrey;
}

.card2 {
    position: relative;
}

.search-form-submit-button {
    width: 10%;
    margin-left: 20px;
    padding: 10px 20px; /* adjust size here */
    border-radius: 15px; /* adjust border radius here */
    background-color: green; /* adjust color here */
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    font-weight: normal;
}


.card2 .new-application-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 10px 20px; /* adjust size here */
    border-radius: 15px; /* adjust border radius here */
    background-color: green; /* adjust color here */
    color: white;
    text-align: center;
    text-decoration: none; /* removes underline */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 16px;
    margin-right: 16px;
}

.new-application-button:hover, .search-form-submit-button:hover {
    background-color: darkgreen; /* adjust hover color here */
    color: white;
}

.search-results {
    margin-top: 10px;
    margin-left: 16px;
    height: 45%; /* Adjustable height */
    width: 97%; /* Adjustable width */
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
    overflow: auto; /* Add a scrollbar if content overflows */
    /*padding: 10px; !* Equal spacing around the elements *!*/
    border-radius: 10px;
}

.search-results th:first-child, .search-results td:first-child {
    padding-left: 40px;
}

.search-results table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Removes the double borders */
}

.search-results th, .search-results td {
    padding: 10px; /* Equal spacing around the text in each cell */
    text-align: left; /* Left-aligned text */
    border-bottom: 1px solid #ddd; /* Add a bottom border to all table cells */
}

.search-results th {
    /*background-color: #4CAF50; !* Green background *!*/
    color: #0b360c; /* White text */
}