{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'home/applications/applications.css' %}">
    <div class="search-main-container">
        <h1 class="search-title-h1">View All Applications</h1>
        <div class="search-container">
            <form id="searchForm" method="GET" action="{% url 'myapp:view_all_applications' %}">
                {{ form.query }}
            </form>
        </div>
        <div class="result-container">
            {% if result_count != 0 %}
                <div class="search-results">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Application Reference Number</th>
                            <th>Status</th>
                        </tr>
                        {% for result in results %}
                            <tr class="result-item" data-href="{% url 'myapp:application_details' result.id %}">
                                <td>{{ result.date }}</td>
                                <td>{{ result.name }}</td>
                                <td>{{ result.application_number }}</td> {# TODO: This must be replaced with result property application number #}
                                <td>{{ result.application_status }}</td> {# TODO: This must be replaced with result property application status #}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% elif message != "" %}
                <h2 class="no-results"> No Applications Found Please Create A New Application </h2>
            {% endif %}
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function($) {
            $(".result-item").click(function() {
                window.location = $(this).data("href");
            });
             $(".search-input").on('keypress', function(e) {
                if (e.which == 13) {  // Detect Enter key press
                    $("#searchForm").submit();  // Submit the form
                    return false;  // Prevent the default action
                }
            });
        });
    </script>

{% endblock %}

